{% extends 'base.html.twig' %}

{% block body %}
    <h1>Action</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ action.id }}</td>
            </tr>
            <tr>
                <th>Objet</th>
                <td>{{ action.objet }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ action.description }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{% if action.dateDebut %}{{ action.dateDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{% if action.dateFin %}{{ action.dateFin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('action_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('action_edit', { 'id': action.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
